:root {
    --colorbg: #fbfbfb;
    --colornav: #F55536;
    --colormain: #412234;
    --colorhdng: #e93e1c;
    --colorft: #242601;
    --colordiv: #dde930;
    --gutters: 8%;
}

html {
    scroll-padding-top: 4rem;
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Raleway', sans-serif;
    font-family: 'Rubik', sans-serif;
    src: url(local);
}

body {
    background-color: var(--colorbg);
}

header, aside, article, section, .footer-row {
    margin: 0 var(--gutters);
}

h1, h4, li {
    font-family: 'Raleway';
    color: var(--colormain);
}

h2, h3, p {
    font-family: 'Dosis', sans-serif;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
}

span, a, p {
    font-size: 1.1rem;
}

span, a {
    font-family: 'Rubik';
}

a {
    color: var(--colorft);
    font-weight: bold;
}

nav {
    background-color: var(--colornav);
    color: white;
    padding: 1px 0;
    width: 100%;
    position: fixed;
    top: 0;
    text-align: right;
    z-index: 1000;
}

nav > ul > li {
    display: inline-block;
    padding: 0 1.5rem;
}

nav > ul > li > a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

nav > ul > li > a:hover {
    background-color: var(--colorhdng);
}

header {
    margin-top: 4rem;
    margin-left: 12%;
}

header > h1 {
    font-size: 4em;
    font-weight: bold;
    margin-bottom: .1rem;
}

header > p {
    font-size: 2.5rem;
    margin-top: .2rem;
    margin-bottom: 0.5rem;
}

/* Begin slider CSS */

.slider {
  margin: 0 auto;
  max-width: 1040px;
}

.slide_viewer {
  height: 450px;
  overflow: hidden;
  position: relative;
}

.slide_group {
  height: 100%;
  position: relative;
  width: 100%;
}

.slide {
  display: block;
  text-align: center;
  height: 100%;
  position: absolute;
  width: 100%;
  background: var(--colornav);
}

.slide > img {
    width: 80%;
}

.slide:first-child {
  display: block;
}

.slide_buttons {
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
}

a.slide_btn {
  color: var(--colormain);
  font-size: 42px;
  margin: 0 0.175em;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.slide_btn.active, .slide_btn:hover {
  color: var(--colornav);
  cursor: pointer;
}

.directional_nav {
  height: 225px;
  margin: 0 auto;
  max-width: 1030px;
  position: relative;
  top: -340px;
}

.previous_btn {
  bottom: 0;
  left: 1rem;
  margin: auto;
  position: absolute;
  top: 0;
}

.next_btn {
  bottom: 0;
  margin: auto;
  position: absolute;
  right: 1rem;
  top: 0;
}

.previous_btn, .next_btn {
  cursor: pointer;
  height: 65px;
  opacity: 0.5;
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -ms-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
  width: 65px;
}

.previous_btn:hover, .next_btn:hover {
  opacity: 1;
}

@media only screen and (max-width: 767px) {
  .previous_btn {
    left: 50%;
  }
  .next_btn {
    right: 50px;
  }
}

/* End slider CSS */

.meats {
    margin-top: -10rem;
}

.featured {    
    text-align: center;
}

.featured > img:hover {
    --hover: 1;
    filter: saturate(100%);
}

.featured > img {
    transform: scale(calc(1 + (var(--hover) * 0.02)));
    transition: transform 0.25s;
    box-shadow: 0 3px 6px gray;
    opacity: 92%;
    border-radius: 10px;
    filter: saturate(85%);
    width: 35%;
}

.servings {
    font-style: italic;
}

.sides-list {
    display: flex;
}

.sides-list > h2, .sides-list > span {
    display: inline;
}

.divider {
    background-color: var(--colordiv);
    height: 0.75rem;
}

.footer-row {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

.footer-row-item > a > img {
    width: 15%;
}

.bottom {
    background-color: var(--colornav);
    color: white;
    padding: 10px 0;
    margin: 2px 0;
    text-align: center;
}

.social {
    margin-bottom: 10px;
}

.social > a > img {
    max-width: 15%;
}

.copyright {
    font-family: sans-serif;
}