:root {
    --colorbg: #fbfbfb;
    --colornav: #F55536;
    --colormain: #412234;
    --colorhdng: #e93e1c;
    --colorft: #6e6714;
    --colordiv: #f6e0c26e;
    --gutters: 8%;
}

html {
    scroll-padding-top: 6rem;
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Raleway', sans-serif;
    font-family: 'Rubik', sans-serif;
    src: url(local);
}

body {
    background-color: var(--colorbg);
}

h1, h4, li {
    font-family: 'Raleway';
    color: var(--colormain);
}

h2, h3, p {
    font-family: 'Dosis', sans-serif;
}

span, a {
    font-family: 'Rubik';
}

a {
    color: var(--colorft);
    font-weight: bold;
}

nav {
    background-color: var(--colornav);
    color: white;
    padding: 1px 0;
    width: 100%;
    position: fixed;
    top: 0;
    text-align: right;
    z-index: 1000;
    font-size: .75rem;;
}

nav > ul > li {
    display: inline-block;
    padding: 0 1rem;
}

nav > ul > li > a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

nav > ul > li > a:hover {
    color: rgb(247, 211, 126);
}

.container {
    margin: 0 6%;
}

header {
    display: flex;
    margin-top: 4rem;
    align-items: center;
    justify-content: center;
}

header > h1 {
    font-size: 2em;
    font-weight: bold;
}

header > p {
    font-size: 1.5rem;
    margin: .1rem 0 0 1rem;
}

.mobile-image {
    height: 200px;
    overflow: hidden;
}

.mobile-image > img {
    width: 100%;
    position: relative;
    top: -150px;
}

.featured > img:hover {
    --hover: 1;
    filter: saturate(100%);
}

.featured > img {
    transform: scale(calc(1 + (var(--hover) * 0.03)));
    transition: transform 0.25s;
    box-shadow: 0 3px 6px gray;
    opacity: 92%;
    border-radius: 10px;
    filter: saturate(85%);
}

.menu-header {
    display: flex;
    align-items: flex-end;
    margin-bottom: -1rem;;
}

.servings {
    font-style: italic;
    margin-left: .75rem;
}

.menu > .list-card:nth-of-type(even) {
    background-color: var(--colordiv);
}

section > .list-card:last-of-type {
    margin-bottom: 1rem;
}

section:last-of-type > .details {
    padding: 2rem;
}

.list-card {
    display: flex;
    align-items: center;
    margin: -1rem 0;
}

.details {
    font-style: italic;
    margin-left: 0.5rem;;
}

.about-us-images {
    display: flex;
}

.history-image {
    width: 45%;
    margin: 0 auto;
    text-align: center;
    align-items: center;
}

.contact-form {
    padding: 12px;
	margin: 24px auto;
	background: var(--colordiv);
	border-radius: 4px;
    max-width: 750px;
}

label {
	font-size: 0.85em;
	margin-left: 12px;
}

input[type=text],input[type=phone],input[type=email], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=text]:focus,input[type=email]:focus, textarea:focus {
	border: 1px solid var(--colorft);
}

input[type=submit] {
	background: var(--colorhdng);
	margin: 0 auto;
	outline: 0;
	color: white;
	border: 0;
	padding: 12px 24px;
	border-radius: 4px;
	transition: all ease-in-out 0.3s;
	position: relative;
	display: inline-block;
	text-align: center;
}

input[type=submit]:focus {
	background: var(--colorbg);
	color: whitesmoke;
}

input[type=submit]:hover {
	background: var(--colornav);
}

.bottom {
    background-color: var(--colornav);
    color: white;
    padding: 10px 0;
    margin: 2px 0;
    text-align: center;
}

.footer-two-column {
    display: flex;
    justify-content: space-around;
}

.social {
    margin-bottom: 10px;
    text-align: center;
}

.social > a > img {
    max-width: 10%;
}

.copyright {
    font-family: sans-serif;
}

@media only screen and (min-width: 700px) {
    h2 {
        font-size: 1.75rem;
    }
    
    h3 {
        font-size: 1.5rem;
    }
    
    h4 {
        font-size: 1.25rem;
    }
    
    span, a, p {
        font-size: 1.1rem;
    }
  }


@media only screen and (min-width: 1000px) {
    

    
 
}